<h2 class='pizzaList'>PizzaList</h2>
<ul  class= "pizzaList__list">
    <li *ngFor='let pizza of pizzas'  class= 'pizzaList__card'>
           <mat-card (click)="onClick(pizza)">
               <mat-card-header  class= 'pizzaList__title'>
                   <mat-card-title>
                       {{pizza.name}}
                   </mat-card-title>
               </mat-card-header>
               <img class='imagenes' mat-card-image [src]="getImg(pizza)" alt="">
           </mat-card>

    </li>
</ul>
